* {
  box-sizing: border-box;
}

body {
  position: relative;
  /* padding-bottom: 10vh; */
  min-height: 100vh;
  font-family: arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left{
  display: flex;
  align-items: center;
}

.logo-container{
  padding: 10px 30px 0px;
}

.logo{
  width: 92px;
  height: 30px;
}

.form-searchbox {
  position: relative;
  width: 700px;
  padding: 30px 8px 25px;
}

.search {
  width: 100%;
  padding: 10px 100px 10px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.searchbox-icons {
  position: absolute;
  top: 31px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 14px;
  padding-right: 35px;
}

.mic-icon-container{
  padding: 8px 20px 0px 10px;
  border-left: 1px solid #DFE1E5;
  border-radius: 2px;
}

.mic-icon {
  width: 14px;
  height: 18px;
}

.search-icon-container{
  padding: 10px 0px 10px 0px;
}

.search-icon {
  width: 14.5px;
  height: 14.5px;
}

.nav-google {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}


.nav-google-item {
  display: inline-block;
  padding: 0px 0px 0px 15px;
  text-decoration: none;
  color: #000000de;
}

.header-bottom-container{
  padding: 0px 0px 0px 170px;
  width: 830px;
}

.header-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #86898D;
}

.nav-search{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-search-item{
  display: flex;
  text-decoration: none;
  color: inherit;
  padding-left: 20px;
  padding-bottom: 10px;
}

.nav-search-icon{
  font-size: 120%;
  padding-right: 3px;
}

.current-item{
  color: #1A73EA;
  border-bottom: 3px solid;
  padding-left: 0px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #DFE1E5;
}


.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  background-color: rgb(242, 242, 242);
  color: #70757a;
}

.footer-top {
  display: flex;
  padding: 23px 0px 15px 160px;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  font-size: 14px;
  padding-left: 160px;
  padding-bottom: 12px;
}

.link-footer-top{
  text-decoration: none;
  color: inherit;
}

.link-footer {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: inherit;
}
