* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 119px;
  min-height: 100vh;
  font-family: sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
}

.logo-container {
  padding: 10px 30px 0px;
}

.logo {
  width: 92px;
  height: 30px;
}

.form-searchbox {
  position: relative;
  width: 700px;
  padding: 30px 8px 25px;
}

.search {
  width: 100%;
  padding: 10px 100px 10px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.searchbox-icons {
  position: absolute;
  top: 31px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 14px;
  padding-right: 35px;
}

.mic-icon-container {
  padding: 8px 20px 0px 10px;
  border-left: 1px solid #dfe1e5;
  border-radius: 2px;
}

.mic-icon {
  width: 14px;
  height: 18px;
}

.search-icon-container {
  padding: 10px 0px 10px 0px;
}

.search-icon {
  width: 14.5px;
  height: 14.5px;
}

.nav-google {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.nav-google-item {
  display: inline-block;
  padding: 0px 0px 0px 15px;
  text-decoration: none;
  color: #5F6368;;
}

.header-bottom-container {
  padding: 0px 0px 0px 170px;
  width: 830px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #5F6368;
}

.nav-search, .related-search, .pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-search-item {
  text-decoration: none;
  color: inherit;
  padding-left: 20px;
  padding-bottom: 10px;
}

.nav-search-icon, .related-icon {
  font-size: 120%;
  padding-right: 3px;
}

.current-item {
  color: #1a73ea;
  border-bottom: 3px solid;
  padding-left: 0px;
}

.main {
  border-top: 1px solid #dfe1e5;
}

.main-content{
  display: flex;
  flex-direction: column;
  padding-left: 170px;
  width: 800px;
  color: #202124;
  font-size: 14px;
}

.link{
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}

.link:visited{
  color: #1a0dab;
}

.bold{
  font-weight: bold;
}

.text{
  font-weight: normal;
}

.results{
  color: #70757a;
  height: 43px;
  line-height: 43px;
}

.suggestions{
  margin: 7px 0px 17px;
}

.result-container{
  margin-bottom: 40px;
}

.result-top{
  display: flex;
  align-items: center;
}

.top-url-google{
  color: #5f6368;
}

.triangle{
  width: 0;
  height: 0;
  border-top: 5.3px solid #70757A;
  border-left: 4.3px solid transparent;
  border-right: 4.3px solid transparent;
  margin-left: 5px;
  margin-right: 5px;
}

.result-title{
  margin: 8px 0;
  font-size: 20px;
}

.result-summary{
  color: #4d5156;
  line-height: 22.12px;
}

.result-subtitle{
  color: #70757a;
}

.related{
  display: flex;
  flex-direction: column;
}

.related-title{
  margin-bottom: 16px;
  font-size: 22px;
}

.related-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.related-search{
  justify-content: left;
  margin: 4px 8px;
  padding: 17px;
  width: 299px;
  height: 48px;
  border-radius: 100px;
  font-size: 16px;
  background-color: #f1f3f4 ;
}

.related-icon{
  padding: 10px;
  color: #70757a;
}

.related-link, .related-link:visited{
  padding-left: 15px;
  color: #202124;
}

.pages{
  flex-direction: column;
  margin: 40px 0px;
}

.pages-numbers{
  padding-left: 70px;
}

.pages-number{
  display: inline-block;
  width: 16px;
}

.pages-link, .pages-link:visited{
  color: #4285f4;
}

.next-page{
  padding-left: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  background-color: rgb(242, 242, 242);
  color: #70757a;
}

.footer-top {
  display: flex;
  align-items: center;
  padding: 23px 0px 10px 170px;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.footer-top-country {
  display: inline-block;
  line-height: 27px;
  height: 27px;
  border-right: 1px solid #dfe1e5;
  padding-right: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #70757a;
}

.location {
  font-weight: bold;
  color: #3c4043;
}

.footer-top-item {
  padding-left: 3px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  font-size: 14px;
  padding-left: 154px;
  padding-bottom: 12px;
}

.link-footer-top {
  text-decoration: none;
  color: inherit;
}

.link-footer {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: inherit;
}
